<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spendings App</title>
  <%= csrf_meta_tags %> <!-- CSRF protection -->
  <%= csp_meta_tag %> <!-- Content Security Policy header -->
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %> <!-- Include JS files -->
  <%= stylesheet_link_tag 'application', media: 'all' %>

</head>
<body>
  <%= render NavbarComponent.new(current_user: nil) %>
  <%= yield %> <!-- The content from `index.html.erb` will go here -->
  <footer>
    <p>&copy; 2025 Spendings App</p>
  </footer>
</body>
</html>
